Flask
streamlit
opencv-python
sqlalchemy
jinja2
requests
Pillow
torch
torchvision
octorest
paho-mqtt
websockets
scikit-learn
matplotlib
numpy
pandas
seaborn
h5py
pyserial
paramiko
selenium
pyautogui
tensorflow
keras
json5
waveline

beautifulsoup4